@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "DM Sans";
  background-color: #272828;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 4px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 20vh 0;
  width: 40vw;
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 18px 0 rgba(42, 43, 44, 0.199);
}

.card--pad {
  padding: 5%;
}

.profile {
  text-align: center;
}

.profile--image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding-bottom: 20px;
}

.emailButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailButton--btn {
  font-size: large;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px 14px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.913);
  color: black;
}

.emailButton--btn img {
  width: 25px;
}

@media (max-width: 786px) {
  .card {
    width: 70vw;
  }
}

.socialIcons {
  border: 1px solid #272828;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 30px;
}

.socialIcons img {
  width: 40px;
}
